<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDao">
    <resultMap id="M" type="Album">
        <id property="id" column="nid"/>
        <result property="title" column="ntitle"/>
        <collection property="chapter" ofType="Chapter">
            <id property="id" column="mid"/>
            <result column="mtitle" property="title"/>
            <result column="audioPath" property="audioPath"/>
            <result column="sizea" property="sizea"/>
            <result column="duration" property="duration"/>
        </collection>
    </resultMap>

    <select id="select" resultMap="M">
    SELECT n.id nid,n.title ntitle,
    m.id mid,m.title mtitle,m.audioPath,m.sizea,m.duration
    FROM album n LEFT JOIN
    chapter m ON n.id=m.album_id;
    </select>


    <!--添加专辑-->
    <insert id="insert" parameterType="Album">
        insert INTO album VALUES (#{title},#{COUNT},#{corverlmg},#{score},#{author}
        ,#{broadCast},#{brife},#{publicDate},#{createDate},#{chapter})
    </insert>

</mapper>







