<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDao">
   <resultMap  type="Album" id="S">
        <id column="nid" property="id"/>
        <result column="nname" property="name"/>
		 <result column="count" property="count"/>
		  <result column="corverlmg" property="corverlmg"/>
		   <result column="score" property="score"/>
        <result column="author" property="author"/>
        <collection property="children" ofType="Chapter">
            <id property="id" column="mid"/>
            <result column="mname" property="name"/>
            <result column="audioPath" property="audioPath"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="album_id" property="album_id"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="S">
    SELECT n.id nid,n.name nname,n.count,n.corverlmg,n.score,n.author,
    m.id mid,m.name mname,m.audioPath,m.size,m.duration,m.album_id
    FROM album n LEFT JOIN
    chapter m ON n.id=m.album_id
    </select>

    <insert id="insert" parameterType="Album">
        insert into album (name,count,corverlmg,score,author,broadCast,brife,publicDate,createDate,status) VALUES
        (#{name},#{count},#{corverlmg},#{score},#{author},#{broadCast},#{brife},#{publicDate},#{createDate},#{status})
    </insert>

    <insert id="chapterinsert" parameterType="Chapter">
        insert into chapter(id,name,duration,size,audioPath,album_id)VALUES (#{id},#{name},#{duration},#{size},#{audioPath},#{album_id});
    </insert>





    <resultMap  type="Album" id="f">
        <id column="nid" property="id"/>
        <result column="nname" property="name"/>
        <result column="count" property="count"/>
        <result column="corverlmg" property="corverlmg"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <collection property="children" ofType="Chapter">
            <id property="id" column="mid"/>
            <result column="mname" property="name"/>
            <result column="audioPath" property="audioPath"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="album_id" property="album_id"/>
            </collection>
        </resultMap>
    <select id="select" parameterType="java.lang.Integer" resultMap="f">
         SELECT n.id nid,n.name nname,n.count,n.corverlmg,n.score,n.author,m.id mid,m.name mname,m.audioPath,m.size,m.duration,m.album_id
        FROM album n LEFT JOIN
    chapter m ON n.id=m.album_id where n.id=#{id}
    </select>

</mapper>






