<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">

    <select id="select" parameterType="java.lang.Integer" resultType="User">
        select * from user where id=#{id}
    </select>

    <update id="Update" parameterType="User">
      update user (photoimg,dharmaName,sex,province,city,sign,password) set (#{photoimg},#{dharmaName},#{sex},#{province},#{city},#{sign},#{password} where id=#{id}
    </update>

    <select id="squertyAll" resultType="User">
        SELECT * FROM user
    </select>
    <select id="UpdateUser" parameterType="com.baizhi.dao.UserDao">
       update USER set status=#{status} where id=#{id}
    </select>

    <insert id="insert" parameterType="User">
        insert into user VALUES (#{id},#{photoimg},#{name},#{dharmaName},#{sex},#{province},#{city},#{sign},#{phoneNum},#{password},#{salt},#{status},#{regisDate},#{guru_id})
    </insert>

    <select id="selectregister" parameterType="com.baizhi.dao.UserDao" resultType="User">
        SELECT * from user where phoneNum=#{phoneNum} and password=#{password}
    </select>
</mapper>






